# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\比赛相关项目\软件服务外包大赛\A04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
